name: Windows Build

on:
  # Allows you to run this workflow manually from the Actions tab of the repository
  workflow_dispatch:

env:
  # https://flet.dev/docs/publish#versioning
  BUILD_NUMBER: 5
  BUILD_VERSION: 1.0.5
  BUILD_BETA: 1
  PYTHON_VERSION: 3.12.2
  FLUTTER_VERSION: 3.24.0

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Setup Flutter ${{ env.FLUTTER_VERSION }}
      uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ env.FLUTTER_VERSION }}

    - name: Flet Build Windows
      run: |
        flutter config --no-analytics
        flet build windows --verbose --no-rich-output --project XLauncher --product XLauncher --copyright "Copyright (c) 2024 KeimaSenpai" --build-number=$env:BUILD_NUMBER --build-version=$env:BUILD_VERSION

    - name: Compress folder
      shell: powershell
      run: |
        Compress-Archive -Path build/windows -DestinationPath build/XLauncher-Windows.zip

    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      with:
        tag_name: v${{ env.BUILD_VERSION }}
        release_name: "XLauncher v${{ env.BUILD_VERSION }}"
        body: |
          ##  Funciones
          - [x] Ya se usa nuevo compilador
          - [x] Opciones para la instalaci贸n de Forge y Fabric
          - [x] Agregado la opci贸n de poner la ruta de su java.
          - [x] Agregado el bot贸n de info para saber mas sobre el launcher.
          - [x] Agregada la funcion para reportar errores.
          ------
          ## Pr贸ximamente
          - [ ] Login con cuenta Premium.
          - [ ] Versiones para Linux y MACOS.
          - [ ] Soporte para varios idiomas.
          - [ ] Mejoras en la interfaz de usuario.
          - [ ] Funcionalidad de la secci贸n de noticias.
          ------
          ## Se corrigieron los siguientes bugs.
          - [x] Se arreglo el bug de que no abre el launcher porque no crea el archivo configuration.json
          - [x] El bug de la consola cuando se instala una versi贸n.
          - [x] Ya al abrir minecraft no sale la consolas.

          > [!IMPORTANT]
          > Estos es a partir de versiones anteriores a la v1.0.5
          > Tienen que sacar de la carpeta _internal la carpeta assets hacia la ruta principal del launcher para que salgan todos los recursos.
          
          ![GitHub Downloads (all assets, all releases)](https://img.shields.io/github/downloads/KeimaSenpai/XLauncher-ui/total?style=for-the-badge&label=Download&color=%23756AB6)
        draft: false
        prerelease: false

    - name: Upload Build to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/XLauncher-Windows.zip  # Path to the zipped file
        asset_name: XLauncher-Windows.zip
        asset_content_type: application/zip
